.nav-bar {
    position: fixed;
    top: 5px;
    left: 10px ;
}

.side-bar {
    position: fixed;
    top: 60px;
    left: 30px;
}

.content {
    position: relative;
    top: 60px;
    left: 300px;
}

