<!-- background -->
<div class="container-fluid">
  <app-background></app-background>
</div>

<!-- content -->
<div class="container-fluid row ">
        <div class="col-md-2 nav-bar">
          <app-nav-bar></app-nav-bar>
        </div>
        <div class="col-md-2 side-bar">
          <div *ngIf = "sidebarToggle === true">
              <i class="fa fa-times-circle fa-3x" style="padding-left: 200px;" (click)="sidebarToggle=false"></i>
              <app-add-event></app-add-event>
          </div>
          <div *ngIf = "sidebarToggle === false">
              <i class="fa fa-plus-circle fa-3x" style="padding-left: 200px;" (click)="sidebarToggle=true"></i>
              <app-side-bar></app-side-bar>
          </div>
        </div>
        <div class="col-md-9 content">
          <app-event-list></app-event-list>
        </div>
</div>

<router-outlet></router-outlet>
