<!-- background -->
<div class="container-fluid">
  <app-background></app-background>
</div>

<!-- content -->
<div class="container-fluid row ">
        <div class="col-md-2 nav-bar">
          <app-nav-bar></app-nav-bar>
        </div>
        <div class="col-md-2 side-bar">
          <app-add-event></app-add-event>
          <app-side-bar></app-side-bar>
        </div>
        <div class="col-md-9 content">
          <app-event-list></app-event-list>
        </div>
</div>

<router-outlet></router-outlet>
